body {
  color: black;
  background-color: beige;
  font-size: 1.3rem;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
  position: relative;
}
h1{
  padding-top: 10px;
  text-align: center;
  font-size: 4rem;
  background-color: beige;
  color: brown;
}
h2{
  text-align: center;
  font-size: 2rem;
}
h3{
  padding-top: 30px;
  font-size: 2rem;
  background-color: beige;
  color: brown;
}
h4{
  padding-top: 20px;
  font-size: 2rem;
  background-color: beige;
  color: brown;
}
p{
  font-size: 1.5rem;
}
